*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* CAROUSEL */
#carousel{
    height: 400px;
    width: 700px;
    margin: 30px auto;
    position: relative;

}

.gallery{
    height: 100%;
}


.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;

}

.gallery img.active{
    display: block;
}

/* Buttons */

#carousel .bi {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    cursor: pointer;
}

#carousel .bi:hover{
    color: dodgerblue;
}

#prev{
    right: calc(100% + 30px);
}

#next {
    left: calc(100% + 30px)
}